<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <style>
            nav .btn {
                background-color: blue;
                color: #fef9ff;
                margin-right: 30px;
                text-align: center;
                width: 140px !important;
            }
            nav .btn:hover {
                font-weight: bold;
                color: #ffffff;
            }
            .container {
                background-color: blanchedalmond;
                color: black;
                border-radius: 3px
                    border: 2px solid blue;}

            #map{
                width: 100%;
                height: 500px;
                background-color: grey;

                border-radius: 8px;
            }

            table, th, td {
                border-collapse: collapse;
                border: 1px solid ;
            }

        </style>

    <br><br>
    <title>Super Sightings!</title>

</head>
<body>

    <!-- Main Body of Page -->

    <div class="container" >
        <h1 style="font-size: 3.0em ;background-color:palevioletred;" 
            class="text-center border border-solid"><a href="/" class="text-dark">Superhero Sightings</a></h1>


        <br><br>
        <nav class="text-center">
            <a class="btn badge-pill " href="home.html">Home</a>
            <a class="btn badge-pill" href="sightings">Sightings</a>
            <a class="btn badge-pill" href="superheros">Superheros</a>
            <a class="btn badge-pill" href="powers">Powers</a>
            <a class="btn badge-pill" href="locations">Locations</a>
            <a class="btn badge-pill" href="organizations">Organizations</a>	
        </nav>
        <br><br>

        <div class="col-12 m-1 text-center" 
             th:if="${!errors.isEmpty()}">
            <p class="alert alert-danger" 
               th:each="error : ${errors}" th:text="${error.message}">Error message</p>
        </div>


        <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3 ">
                <span class="h3">Edit Superhero:</span>
            </div> <br>

            <div class="col-7 text-center m-3">
                <form action="editSuperhero" method ="POST">
                    <div class="form-group row">
                        <label for="name" class="col-3 col form-label">
                            Name:
                        </label>

                        <div class="col-9">
                            <input type="text"
                                   class="form-control"
                                   th:value="${superhero.name}"
                                   id="name"
                                   name="name"
                                   />

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col form-label">
                            Description:
                        </label>

                        <div class="col-9">
                            <input type="text"
                                   class="form-control"
                                   th:value="${superhero.description}"
                                   id="description"
                                   name="description"
                                   /> 

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="power" class="col-3 col form-label" >
                            Power:
                        </label>

                        <div class="col-9">
                            <select multiple id="power" name="powerId" 
                                    class="form-control" >
                                <option th:each="power : ${powers}" 
                                        th:value="${power.id}" 
                                        th:text="${power.name}"
                                        th:selected="${superhero.powers.contains(power)}">
                                </option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group row ">
                        <label for="organization" class="col-md-3 control-label">
                            Organization:
                        </label>
                        <div class="col-9">
                            <select multiple id="organization" name="organizationId" 
                                    class="form-control" >
                                <option th:each="organization : ${organizations}" 
                                        th:value="${organization.id}" 
                                        th:text="${organization.name}"
                                        th:selected="${superhero.organizations.contains(organization)}">
                                </option>
                            </select> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="isHero" class="col-3 col-form-label">
                            Super Status</label>
                        <div class="col-9">
                            <select id="isHero" name="isHero" class="form-control">
                                <option value="true" th:selected="${superhero.isHero}">Superhero</option>
                                <option value="false" th:selected="${!superhero.isHero}">Supervillain</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m-4">
                        <div class="col text-center m-4">
                            <input type="hidden" name="id" th:value="${superhero.id}"/>
                            <button type="submit" class="btn btn-outline-primary ">
                                Ok </button>
                            <button type="submit" class="btn btn-outline-primary">
                                <a href="superheros" > Cancel </a></button>

                            </form>
                        </div>
                    </div>

            </div>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            </body>
            </html>